<div *ngIf="!challenges">
  <app-loader />
</div>

<main class="bg-transparent">
  <div
    class="flex justify-content-between flex-column md:flex-column lg:flex-row"
  >
    <h3 class="">Retos</h3>

    <div class="grid gap-3 mt-2 md:mt-2">
      <p-button
        label="Marcar como completados"
        icon="pi pi-check"
        styleClass="p-button-sm p-button-success p-button-rounded col-12"
        (onClick)="openMarkAsDoneModal()"
      ></p-button>

      <p-button
        label="Descargar estado actual de los retos"
        icon="pi pi-download"
        styleClass="p-button-sm p-button-success p-button-outlined p-button-rounded col-12"
        (onClick)="generateChallengeTicketsStateReport()"
      ></p-button>

      <p-button
        label="Descargar reporte general"
        icon="pi pi-download"
        styleClass="p-button-sm p-button-success p-button-outlined p-button-rounded col-12"
        (onClick)="generateGeneralReport()"
      ></p-button>
    </div>
  </div>

  <div class="mt-4" *ngIf="challenges">
    <p-table
      #dt1
      [value]="challenges"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 15, 20]"
      exportFilename="users"
      [exportFunction]="dt1.exportCSV"
    >
      <ng-template pTemplate="header">
        <tr class="border-none">
          <th class="border-none">Título</th>
          <th class="border-none">Fecha inicial</th>
          <th class="border-none">Fecha final</th>
          <th class="border-none">Cupones</th>
          <th class="border-none">Creditos</th>
          <th class="border-none">Cupones disponibles</th>
          <th class="border-none">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-challenge>
        <tr class="border-none bg-white">
          <td class="border-none bg-white">{{ challenge.title }}</td>
          <td class="border-none bg-white">
            {{ challenge.initialDate | date : "dd/MM/yyyy" }}
          </td>
          <td class="border-none bg-white">
            {{ challenge.endDate | date : "dd/MM/yyyy" }}
          </td>
          <td class="border-none bg-white">{{ challenge.coupons }}</td>
          <td class="border-none bg-white">{{ challenge.credits }}</td>
          <td class="border-none bg-white">{{ challenge.availableCoupons }}</td>

          <td class="flex gap-2 border-none">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-primary p-mr-3 p-button-sm"
              (click)="updateChallenge(challenge.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <button
    pButton
    type="button"
    icon="pi pi-plus"
    class="p-button-rounded p-button-primary md:p-5 sm:p-1 p-button-lg absolute bottom-0 right-0 mr-5 mb-5 shadow-8"
    (click)="createChallenge()"
  ></button>

  <app-create-challenge />
  <app-update-challenge />
  <app-mark-as-done />
</main>
