<section class="" *ngIf="community">

    <div class="grid mt-2" >
        <div class="span12 h-10rem border-round-top-md w-full" [style]="{'background-color': community?.color}">
        </div>

        <div class="col-6 flex flex-column">
            <span class=" text-3xl">{{community?.name}}</span>
            <span class="text-md">{{community?.description}}</span>
        </div>

        <div class="col-6 flex justify-content-end">
            <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-info p-button-outlined"
                (onClick)="toggleDialog()" />
        </div>
        <div class="col-12 mt-5">
            <p-button styleClass="p-button-rounded" (onClick)="openModalCommunityMembers()" >
                {{community?.membersCount?.toString()}} Miembros
                <i class="ml-2 pi pi-window-maximize"></i>
            </p-button>
        </div>
    </div>

    <app-community-members />

    <!-- eventos -->
    <h3 class="mt-5" >Eventos</h3>
    <div class="grid mt-2"  >
        <a class="col-12 cursor-pointer" style="text-decoration: none;" *ngFor="let event of community?.Event" [routerLink]="['/dashboard/eventos', event.id]" >
            <app-event-card [communityColor]="community.color" [event]="event" />
        </a>
    </div>

    <!-- create new community dialog -->
    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
    <p-dialog header="Crear nueva comunidad" [(visible)]="visible" [style]="{ width: '50vw' }">

        <div class="flex justify-content-between gap-4">
            <div class="flex flex-column gap-2" style="width: 50%">
                <label htmlFor="nombre">Nombre</label>
                <input pInputText id="nombre" aria-describedby="nombre-help" [(ngModel)]="nameValue" />
            </div>

            <div class="flex flex-column gap-2" style="width: 50%">
                <label htmlFor="descripcion">Descripción</label>
                <input pInputText id="descripcion" aria-describedby="descripcion-help" [(ngModel)]="descriptionValue" />
            </div>
        </div>

        <div class="flex flex-column gap-2">
            <label htmlFor="color">Color</label>
            <input type="color" [(ngModel)]="color">
        </div>

        <ng-template pTemplate="footer">
            <p-button label="Cancelar" styleClass="p-button-secondary p-button-text"
                (onClick)="toggleDialog()"></p-button>
            <p-button label="Guardar" (click)="updateCommunity()"></p-button>
        </ng-template>

    </p-dialog>
</section>

<div *ngIf="!community" >
    <app-loader />
</div>