
<div class="w-full h-screen flex justify-content-center align-items-center flex-column">

    <div class="loader">
        <div class="box box0">
            <div></div>
        </div>
        <div class="box box1">
            <div></div>
        </div>
        <div class="box box2">
            <div></div>
        </div>
        <div class="box box3">
            <div></div>
        </div>
        <div class="box box4">
            <div></div>
        </div>
        <div class="box box5">
            <div></div>
        </div>
        <div class="box box6">
            <div></div>
        </div>
        <div class="box box7">
            <div></div>
        </div>
        <div class="ground">
            <div></div>
        </div>
    </div>

    <div class="mt-8">
        <h1 class="text-500">403</h1>
        <h2 class="text-400">Sin autorización</h2>
        <p>Usted no tiene permiso para acceder a esta página.</p>
    </div>
    <a href=""></a>

    <p-button
        class="mt-8"
        label="Volver al inicio"
        (onClick)="goToHome()"
    ></p-button>

    <p-button class="mt-8" label="Volver a iniciar sesión" (onClick)="goToLogin()"></p-button>


</div>
