<div
  class="grid gap-2 mb-5 cursor-pointer w-full py-2 border-round-lg justify-content-evenly"
>
  <div
    class="col-12 md:col-5 lg:col-3 high__light__bg border-round-lg flex md:justify-content-center justify-content-around align-items-center"
    routerLink="/dashboard/eventos"
  >
    <div
      class="p-3 border-round-xl bg-blue-100 flex justify-content-center align-items-center"
    >
      <i class="pi pi-calendar text-primary" style="font-size: 2rem"></i>
    </div>
    <div
      class="m-2 flex gap-2 flex-column justify-content-center align-items-center"
    >
      <span class="font-bold text-xl text-color-secondary">{{
        activeEvents
      }}</span>
      <p class="text-color-secondary text-center">Eventos Activos</p>
    </div>
  </div>

  <div
    class="col-12 md:col-5 lg:col-3 high__light__bg border-round-lg flex md:justify-content-center justify-content-around align-items-center"
    routerLink="/dashboard/eventos"
  >
    <div
      class="p-3 border-round-xl bg-yellow-100 flex justify-content-center align-items-center"
    >
      <i class="pi pi-check text-yellow-500" style="font-size: 2rem"></i>
    </div>

    <div
      class="m-2 flex gap-2 flex-column justify-content-center align-items-center"
    >
      <span class="font-bold text-xl text-color-secondary">{{
        inactiveEvents
      }}</span>
      <p class="text-color-secondary text-center">Eventos Finalizados</p>
    </div>
  </div>

  <div
    class="col-12 md:col-5 lg:col-3 high__light__bg border-round-lg flex md:justify-content-center justify-content-around align-items-center"
    routerLink="/dashboard/canjes"
  >
    <div
      class="p-3 border-round-xl bg-green-100 flex justify-content-center align-items-center"
    >
      <i class="pi pi-shopping-bag text-green-500" style="font-size: 2rem"></i>
    </div>
    <div
      class="m-2 flex gap-2 flex-column justify-content-center align-items-center"
    >
      <span class="font-bold text-xl text-color-secondary">{{
        totalRedeems
      }}</span>
      <p class="text-color-secondary text-center">Canjes Activos</p>
    </div>
  </div>
</div>
