<p-card styleClass="border-round-3xl border-cyan-500 relative h-6rem ">
    <div class="absolute top-0 left-0 bottom-0 border-round-left-3xl w-3rem" style="background-color: red;">
    </div>
    <div class="flex flex-row justify-content-between  gap-2 ml-6">
        <div>
            <p>
                Nombre del evento
            </p>
            <p>
                <small>Viernes 07 de Julio del 2023</small>
            </p>
        </div>
        <p>
            Miembros confirmados
        </p>
        <p>
            Abierto
        </p>
        <p>
            Lugar
        </p>
        <p>
            Runners
        </p>
    </div>
</p-card>
