
<p-dialog header="Header" [(visible)]="isModalCreateVisible" [style]="{ width: '50vw' }" (onHide)="closeModalCreate()" [modal]="true" styleClass="h-screen" >
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Crear un nuevo evento</span>
    </ng-template>


    <div class="">
        <form [formGroup]="createEventForm" class="grid gap-3" >
            <div class="col-12" >
                <span class="p-float-label w-full ">
                    <input pInputText id="username" formControlName="title" class="w-full" />
                    <label htmlFor="username">Titulo</label>
                </span>
            </div>

            <div class="col-12" >
                <span class="p-float-label w-full">
                    <input pInputText id="username" formControlName="description" class="w-full" />
                    <label htmlFor="username">Descripción</label>
                </span>
            </div>

            <div class=" col-6 flex mb-3" >
                <p-checkbox [binary]="true" label="El evento será privado?" formControlName="isPrivate"></p-checkbox>
            </div>

            <div class="col-12" >
                <span class="p-float-label w-full">
                    <input pInputText id="username" formControlName="place" class="w-full" />
                    <label htmlFor="username">Lugar</label>
                </span>
            </div>

            <div class="col-6 flex gap-3 justiy-content-center align-items-center" >
                <p-calendar [showSeconds]="false"  formControlName="dateTime" [showTime]="true" placeholder="Fecha y Hora" ></p-calendar>
            </div>


            <div class="col-12">
                <span class="p-float-label w-full">
                    <p-dropdown [options]="communities" formControlName="communityId" optionLabel="name" optionValue="id" placeholder="Selecciona una comunidad" styleClass="w-full"  inputId="community"></p-dropdown>
                    <label for="community">Selecciona una comunidad</label>
                </span>
            </div>

            
                <p-button (click)="createEvent()" icon="pi pi-check"  label="Crear" styleClass="p-button-text"></p-button>
            
        </form>
    </div>


   


</p-dialog>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

