

<div *ngIf="!alliances">
    <app-loader/>
</div>


<main *ngIf="alliances">
    <div class="mt-8">
        <h1 class="text-500">Alianzas</h1>
    </div>

    <div class="mt-5" >
        <p-table #dt1 [value]="alliances" dataKey="id" [rows]="3" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[3,10,20]"  [paginator]="true"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
        [globalFilterFields]="['name']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [placeholder]="'Nombre'" [(ngModel)]="filter"
                        (input)="dt1.filterGlobal(filter, 'contains')" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Nombre
                    </div>
                </th>
               

                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Fecha inicio
                    </div>
                </th>

                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Fecha fin
                    </div>
                </th>
               
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Acciones
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alliance>
       
            <tr  class="cursor-pointer" >
                <td class="text-500">
                    {{ alliance.name }}
                </td>

               
                <td class="text-500">
                    <p-chip >
                        {{ alliance.initialDate | date: 'dd/MM/yyyy' }}
                    </p-chip>
                </td>

                <td class="text-500">
                   
                    <p-chip styleClass="" >
                        {{ alliance.endDate | date: 'dd/MM/yyyy' }}
                    </p-chip>
                </td>

               
                <td class="flex gap-2">
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded  p-button-primary p-mr-3 p-button-sm"
                        (click)="updateAlliance(alliance)"></button>
                    <!-- <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" (click)="deleteEvent(event)"></button> -->
                </td>
            </tr>

        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7 text-500">No se encontraron alianzas</td>
            </tr>
        </ng-template>
    </p-table>
    </div>

    <button 
        pButton 
        type="button" 
        icon="pi pi-plus"
        class="p-button-rounded  p-button-primary md:p-5 sm:p-1  p-button-lg absolute bottom-0 right-0 mr-5 mb-5"
        (click)="createAlliance()">
    </button>
    <app-create-alliance />
    <app-update-alliance />
</main>
