

<button id="btn-message" class="button-message absolute right-0 z-5" routerLink="/dashboard/perfil" >
    <div class="content-avatar">
        <div class="status-user"></div>
        <div class="avatar">
            <svg class="user-img" *ngIf="!picture" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M12,12.5c-3.04,0-5.5,1.73-5.5,3.5s2.46,3.5,5.5,3.5,5.5-1.73,5.5-3.5-2.46-3.5-5.5-3.5Zm0-.5c1.66,0,3-1.34,3-3s-1.34-3-3-3-3,1.34-3,3,1.34,3,3,3Z">
                </path>
            </svg>

            <img class="user-img" *ngIf="picture" [src]="picture" alt="user">
        </div>
    </div>
    <div class="notice-content md:flex hidden">
        <div class="username">{{role}}</div>
        <div class="lable-message">{{name}} {{lastname}}</div>
        <div class="user-id">{{email}}</div>
    </div>
</button>
