
<div *ngIf="!redeemables">
    <app-loader />
</div>

<main *ngIf="redeemables">
    <div class="mt-8">
        <h1 class="text-500">Canjeables</h1>
    </div>

    <div class="mt-5 bg-white border-round-lg p-4">
        <p-table #dt1 [value]="redeemables" dataKey="id" [rows]="3" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[3,10,20]" [paginator]="true"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
            [globalFilterFields]="['name']">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [placeholder]="'Nombre'" [(ngModel)]="filter"
                            (input)="dt1.filterGlobal(filter, 'contains')" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="border-none" style="min-width:15rem">
                        <div class="flex align-items-center">
                            Nombre
                            <p-columnFilter type="text" field="name" placeholder="Busca un nombre" display="menu" matchMode="contains"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                        </div>
                    </th>


                    <th class="border-none" style="min-width:15rem">
                        <div class="flex align-items-center">
                            Token requerido
                            <p-columnFilter field="token.name" matchMode="equals" display="menu"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown optionLabel="name" optionValue="name" [ngModel]="filterTokenType"
                                        [options]="tokens ? tokens : []" (onChange)="filter($event.value)"
                                        placeholder="Busca por categoría de token">
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>

                    <th class="border-none" style="min-width:15rem">
                        <div class="flex align-items-center">
                            Cantidad requerida
                        </div>
                    </th>

                    <th class="border-none" style="min-width:15rem">
                        <div class="flex align-items-center">
                            Stock
                        </div>
                    </th>

                    <th class="border-none" style="min-width:10rem">
                        <div class="flex align-items-center">
                            Acciones
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-redeemable>

                <tr class="cursor-pointer">
                    <td class="text-500 border-none">
                        {{ redeemable.name }}
                    </td>


                    <td class="text-500 border-none">
                        <p-chip styleClass="">
                            {{ redeemable.token.name}}
                        </p-chip>
                    </td>
                    <td class="text-500 border-none">
                        <p-chip styleClass="">
                            {{ redeemable.required_token_amount}}
                        </p-chip>
                    </td>

                    <td class="text-500 border-none">
                        {{ redeemable.stock }}
                    </td>


                    <td class="flex gap-2 border-none">
                        <button pButton pRipple type="button" icon="pi pi-pencil"
                            class="p-button-rounded  p-button-primary p-mr-3 p-button-sm"
                            (click)="updateRedeemable(redeemable.id)"></button>
                        <!-- <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" (click)="deleteEvent(event)"></button> -->
                    </td>
                </tr>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" class="text-500 text-xl">No se encontraron canjeables</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <button pButton type="button" icon="pi pi-plus"
        class="p-button-rounded  p-button-primary md:p-5 sm:p-1  p-button-lg absolute bottom-0 right-0 mr-5 mb-5 shadow-8"
        (click)="createRedeemable()">
    </button>
   <app-create-redeemable />
    <app-update-redeemable />
</main>
