<p-dialog header="Header" [(visible)]="isModalUpdateOpen" class="" (onHide)="closeModalUpdate()"
    [modal]="true" styleClass=" w-full md:w-5 lg:w-5">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Actualizar usuario</span>
    </ng-template>

    <div class="">
        <form [formGroup]="updateUserForm" class="grid gap-3">
            <div class="col-12">
                <span class="p-float-label w-full">
                    <input pInputText id="name" formControlName="name" class="w-full" />
                    <label htmlFor="name">Nombre</label>
                </span>
            </div>

            <div class="col-12">
                <span class="p-float-label w-full">
                    <input pInputText id="lastname" formControlName="lastname" class="w-full" />
                    <label htmlFor="lastname">Apellido</label>
                </span>
            </div>

            <div class="col-12">
                <span class="p-float-label w-full ">
                    <input pInputText id="email" formControlName="email" class="w-full" />
                    <label htmlFor="email">Correo electrónico</label>
                </span>
            </div>

            <div class="col-12">
                <span class="p-float-label w-full">
                    <p-dropdown [options]="departaments" formControlName="department" optionLabel="name" optionValue="name"
                        placeholder="Selecciona un departamento" styleClass="w-full" inputId="department"></p-dropdown>
                    <label for="rol">Selecciona un departamento</label>
                </span>
            </div>

            <div class="col-12">
                <span class="p-float-label w-full">
                    <input pInputText id="city" formControlName="city" class="w-full" />
                    <label htmlFor="city">Ciudad</label>
                </span>
            </div>

            <div class="col-12">
                <span class="p-float-label w-full ">
                    <p-inputMask mask="9999-9999" id="phone" formControlName="phone" class="w-full" />
                    <label htmlFor="phone">Teléfono</label>
                </span>
            </div>

            <div class="col-12">
                <span class="p-float-label w-full">
                    <p-dropdown [options]="roles" formControlName="rolId" optionLabel="role" optionValue="id"
                        placeholder="Selecciona un rol" styleClass="w-full" inputId="rol"></p-dropdown>
                    <label for="rol">Selecciona un rol</label>
                </span>
            </div>

            <div class="flex justify-content-end w-full align-self-end">
                <button pButton  (click)="updateUser()" label="Actualizar" class="p-button-raised p-button-rounded" icon="pi pi-save"></button>
            </div>

        </form>
    </div>

</p-dialog>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>