<h3 class="text-500 mt-5">Cupones de Consumibles</h3>

<div class="mt-4">
    <p-table #dt1 [value]="consumables" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,20,30]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['consumable.name', 'user.name', 'event.title']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [placeholder]="'Buscar cupones'" [(ngModel)]="filter"
                        (input)="dt1.filterGlobal(filter, 'contains')" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Nombre del Consumible
                        <p-columnFilter type="text" field="consumable.name" placeholder="Busca por nombre"
                            display="menu" matchMode="contains" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Nombre del Usuario
                        <p-columnFilter type="text" field="user.name" placeholder="Busca por usuario" display="menu"
                            matchMode="contains" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Nombre del Evento
                        <p-columnFilter type="text" field="event.title" placeholder="Busca por evento" display="menu"
                            matchMode="contains" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Estado
                        <p-columnFilter field="isActive" matchMode="equals" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown optionLabel="name" optionValue="value" [ngModel]="filterEventState"
                                    [options]="filterStateOption" (onChange)="filter($event.value)"
                                    placeholder="Busca por estado">
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        ¿Fue consumido?
                        <p-columnFilter field="isConsumed" matchMode="equals" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown optionLabel="name" optionValue="value" [ngModel]="filterWasConsumed"
                                    [options]="filterWasConsumedOption" (onChange)="filter($event.value)"
                                    placeholder="Busca por consumido">
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Acciones
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ticket>
            <tr>
                <td>
                    {{ ticket.consumable.name }}
                </td>
                <td>
                    {{ ticket.user.name }} {{ ticket.user.lastname }}
                </td>
                <td>
                    {{ ticket.event.title }}
                </td>
                <td>
                    <p-tag [severity]="isActiveToString(ticket.isActive) === 'Activo' ? 'success': 'danger'"
                        [value]="isActiveToString(ticket.isActive)">
                    </p-tag>
                </td>
                <td>
                    <p-tag [severity]="ticket.isConsumed ? 'success': 'danger'"
                        [value]="ticket.isConsumed? 'Si' : 'No'">
                    </p-tag>
                </td>
                <td class="flex gap-2">
                    <button pButton pRipple type="button" icon="pi pi-eye"
                        class="p-button-rounded p-button-primary p-mr-3 p-button-sm"
                        (click)="openDialog(ticket)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">Tickets de consumibles no encontrados.</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="isDialogOpen" [modal]="true" [closable]="true" [style]="{width: '70vw'}" [baseZIndex]="10000"
        header="Detalles del Consumible">
        <div *ngIf="selectedConsumable" class="grid ">

            <div class="col-6">
                <h4 class="mb-3">Información del Consumible</h4>
                <div class="mb-3"><span class="font-bold">Nombre:</span> {{ selectedConsumable.consumable.name }}</div>
            </div>

            <div class="col-6">
                <h4 class="mb-3">Información del Usuario</h4>
                <div class="mb-3"><span class="font-bold">Nombre:</span> {{ selectedConsumable.user.name }} {{
                    selectedConsumable.user.lastname }}</div>
                <div class="mb-3"><span class="font-bold">Email:</span> {{ selectedConsumable.user.email }}</div>
            </div>

            <div class="col-6">
                <h4 class="mb-3">Información del Evento</h4>
                <div class="mb-3"><span class="font-bold">Título:</span> {{ selectedConsumable.event.title }}</div>
                <div class="mb-3"><span class="font-bold">Descripción:</span> {{ selectedConsumable.event.description }}
                </div>
                <div class="mb-3"><span class="font-bold">Fecha y Hora:</span> {{ selectedConsumable.event.dateTime |
                    date:'dd/MM/yyyy HH:mm' }}</div>
                <div class="mb-3"><span class="font-bold">Lugar:</span> {{ selectedConsumable.event.place }}</div>
                <div class="mb-3"><span class="font-bold">Estado:</span>
                    <p-tag [severity]="isActiveToString(selectedConsumable.isActive) === 'Activo' ? 'success': 'danger'"
                        [value]="isActiveToString(selectedConsumable.isActive)">
                    </p-tag>
                </div>
            </div>
        </div>

        <p-footer>
            <button pButton type="button" label="Cerrar" icon="pi pi-times" (click)="isDialogOpen = false"></button>
        </p-footer>
    </p-dialog>
</div>