<div class="col-fixed">
    <p-sidebar [(visible)]="sidebarVisible" class="flex flex-column p-sidebar-lg">
        <div class="p-grid p-dir-col p-fluid mt-2">
            <div class="p-col">
                <a routerLink="/dashboard" routerLinkActive="active-link" style="text-decoration: none;"
                    class="p-button p-button-text p-button-lg p-stretched hover:bg-blue-50">
                    <i class="pi pi-home mr-4" style="font-size: 1.2rem"></i> Inicio
                </a>
            </div>
            <div class="p-col">
                <a routerLink="/dashboard/users" routerLinkActive="active-link" style="text-decoration: none;"
                    class="p-button p-button-text p-button-lg p-stretched hover:bg-blue-50">
                    <i class="pi pi-user mr-4" style="font-size: 1.2rem"></i> Usuarios
                </a>
            </div>
            <div class="p-col">
                <a routerLink="/auth/login" routerLinkActive="active-link" style="text-decoration: none;"
                    class="p-button p-button-text p-button-lg p-stretched hover:bg-blue-50">
                    <i class="pi pi-calendar-plus mr-4" style="font-size: 1.2rem"></i> Eventos
                </a>
            </div>
            <div class="p-col">
                <a routerLink="/auth/login" routerLinkActive="active-link" style="text-decoration: none;"
                    class="p-button p-button-text p-button-lg p-stretched hover:bg-blue-50">
                    <i class="pi pi-users mr-4" style="font-size: 1.2rem"></i> Comunidades
                </a>
            </div>
            <div class="p-col">
                <a routerLink="/auth/login" routerLinkActive="active-link" style="text-decoration: none;"
                    class="p-button p-button-text p-button-lg p-stretched hover:bg-blue-50">
                    <i class="pi pi-star mr-4" style="font-size: 1.2rem"></i> Reconocimientos
                </a>
            </div>
            <div class="p-col">
                <a routerLink="/auth/login" routerLinkActive="active-link" style="text-decoration: none;"
                    class="p-button p-button-text p-button-lg p-stretched hover:bg-blue-50">
                    <i class="pi pi-ticket mr-4" style="font-size: 1.2rem"></i> Cupones
                </a>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <div class="p-grid p-dir-col p-fluid mt-2" style="margin-top: auto;">
                <div class="p-col">
                    <a routerLink="/perfil" routerLinkActive="active-link" style="text-decoration: none;"
                        class="p-button p-button-text p-button-lg p-stretched hover:bg-blue-50">
                        <i class="pi pi-user-edit mr-4" style="font-size: 1.2rem"></i> Perfil
                    </a>
                </div>
                <div class="p-col">
                    <a style="text-decoration: none;"
                        class="p-button p-button-text p-button-lg p-stretched hover:bg-blue-50">
                        <i class="pi pi-sign-out mr-4" style="font-size: 1.2rem"></i> Cerrar Sesión
                    </a>
                </div>
            </div>
        </ng-template>
    </p-sidebar>

    <div class="grid">
        <div class="col-1 mr-4">
            <p-button (click)="sidebarVisible = true" icon="pi pi-bars"
                styleClass="p-button-lg p-button-secondary p-button-text">
            </p-button>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>