
<p-dialog header="Header" [(visible)]="isModalUpdateOpen" [style]="{ width: '50vw' }" (onHide)="closeModalUpdate()"  [modal]="true" styleClass="h-screen">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Update event</span>
    </ng-template>
   

    <div class="">
        <form [formGroup]="updateEventForm" class="grid gap-3" >
            <div class="col-12" >
                <span class="p-float-label w-full ">
                    <input pInputText id="title"  formControlName="title" class="w-full" />
                    <label htmlFor="title">Titulo</label>
                </span>
            </div>

            <div class="col-12" >
                <span class="p-float-label w-full">
                    <input pInputText id="description" formControlName="description" class="w-full" />
                    <label htmlFor="description">Descripción</label>
                </span>
            </div>

            <div class=" col-6 flex mb-3" >
                <p-checkbox [binary]="true" label="El evento será privado?" formControlName="isPrivate"></p-checkbox>
            </div>

            <div class="col-12">
                <span class="p-float-label w-full">
                    <p-dropdown [options]="['Activo', 'Inactivo']" formControlName="status"    styleClass="w-full"  inputId="status"></p-dropdown>
                    <label for="status">Si el evento ya terminó, coloque Inactivo</label>
                </span>
            </div>

            <div class="col-12" >
                <span class="p-float-label w-full">
                    <input pInputText id="place" formControlName="place" class="w-full" />
                    <label htmlFor="place">Lugar</label>
                </span>
            </div>

            <!-- <div class="col-6 flex gap-3 justiy-content-center align-items-center" >
                <p-calendar  formControlName="dateTime" [showTime]="true" placeholder="Fecha y Hora" ></p-calendar>
            </div> -->


            <div class="col-12">
                <span class="p-float-label w-full">
                    <p-dropdown [options]="communities" formControlName="communityId" optionLabel="name" optionValue="id" placeholder="Selecciona una comunidad" styleClass="w-full"  inputId="community"></p-dropdown>
                    <label for="community">Selecciona una comunidad</label>
                </span>
            </div>

            
                <p-button (click)="updateEvent()" icon="pi pi-check"  label="Actualizar" styleClass="p-button-text"></p-button>
            
        </form>
    </div>

</p-dialog>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>


