
<p-dialog header="Header" [(visible)]="isModalUpdateOpen" (onHide)="closeModalUpdate()"  [modal]="true" styleClass="w-full md:w-9 lg:w-6 sm:mx-2" >
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Update event</span>
    </ng-template>
   

    <div class="">
        <form [formGroup]="updateEventForm" class="grid gap-3" >
            <div class="col-12" >
                <span class="p-float-label w-full ">
                    <input pInputText id="title"  formControlName="title" class="w-full" />
                    <label htmlFor="title">Titulo</label>
                </span>
            </div>

            <div class="col-12" >
                <span class="p-float-label w-full">
                    <input pInputText id="description" formControlName="description" class="w-full" />
                    <label htmlFor="description">Descripción</label>
                </span>
            </div>
            <div class="col-12">
                <span class="p-float-label w-full">
                    <p-dropdown  [options]="eventCategories" formControlName="eventCategoryId" optionLabel="name" optionValue="id" placeholder="Selecciona una categoría para este evento" styleClass="w-full"  inputId="eventCategory"></p-dropdown>
                    <label for="eventCategory">Selecciona una categoría</label>
                </span>
            </div>

            <div class=" col-6 flex mb-3" >
                <p-checkbox [binary]="true" label="El evento será privado?" formControlName="isPrivate"></p-checkbox>
            </div>

        

            <div class="col-12" *ngIf="selectedEvent.place" >
                <span class="p-float-label w-full">
                    <input pInputText id="place" formControlName="place" class="w-full" />
                    <label htmlFor="place">Lugar</label>
                </span>
            </div>

            <div class="col-12" *ngIf="selectedEvent.link">
                <span class="p-float-label w-full">
                    <input pInputText id="link" formControlName="link" class="w-full" />
                    <label htmlFor="link">Link</label>
                </span>
            </div>

            <!-- <div class="col-6 flex gap-3 justiy-content-center align-items-center" >
                <p-calendar   formControlName="dateTime" [showTime]="true" placeholder="Fecha y Hora" ></p-calendar>
            </div> -->


            <div class="col-12">
                <span class="p-float-label w-full">
                    <p-dropdown [options]="communities" formControlName="communityId" optionLabel="name" optionValue="id" placeholder="Selecciona una comunidad" styleClass="w-full"  inputId="community"></p-dropdown>
                    <label for="community">Selecciona una comunidad</label>
                </span>
            </div>


            <div class="col-12" >
                <span class="p-float-label w-full">
                    <p-inputNumber 
                        inputId="locale-us" 
                        locale="en-US" 
                        id="credits" 
                        inputId="integeronly" 
                        inputId="minmax" 
                        [showButtons]="true" 
                        inputId="minmax-buttons"  
                        [min]="1" 
                        [max]="100" 
                        formControlName="credits" 
                        class="w-full" 
                    />
                    <label htmlFor="score">
                        Creditos
                    </label>
                </span>
            </div>

            <div class="flex justify-content-end w-full mt-5">
                <button pButton (click)="updateEvent()" label="Actualizar" class="p-button-raised p-button-rounded" icon="pi pi-save"></button>
            </div>
            
             
            
        </form>
    </div>

</p-dialog>

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>


