<div *ngIf="!events || !eventsAtDate" #noData>
  <app-loader />
</div>

<div *ngIf="events && eventsAtDate" #data>
  <div class="grid">
    <div class="mt-4">
      <h2 class="text-600">Dashboard</h2>
    </div>
    <div class="col-12 flex align-items-end flex-column justify-content-center relative">
      <div class="flex justify-content-center align-items-center gap-2">
       <app-profile-sign [name]="user.name" [lastname]="user.lastname" [email]="user.email" [role]="user.role" [padding]="15" [picture]="user.picture" />
      </div>
    </div>

    <div class="col-12 flex justify-content-end mt-4">
      <p-splitButton
        label="Crear nuevo"
        icon="pi pi-plus"
        [model]="this.items"
        styleClass="p-button-rounded mt-5"
      />
    </div>
  </div>

  <!-- create new community dialog -->
  <app-create-community />

  <!-- create event dialog -->
  <app-create-event />

  <div class="col-12">
    <app-events-stats
      [asLink]="true"
      [activeEvents]="activeEventsCount"
      [inactiveEvents]="inactiveEventsCount"
    />

    <div *ngIf="userRole === allowedRoles.ADMIN">
      <app-communities-carousel />
    </div>
    <div>
      <div class="w-8 mb-8">
        <h2 class="mt-4 text-500">Proximos eventos</h2>

        <div
          *ngIf="!eventsAtDate || eventsAtDate.length === 0"
          class="col-12 flex justify-content-center align-items-center flex-column"
        >
          <span class="text-500">No hay eventos para mostrar</span>
          <i class="text-5xl text-500 pi pi-info-circle"></i>
        </div>

        <p-scroller
          [items]="eventsAtDate"
          [itemSize]="70"
          scrollHeight="500px"
          styleClass="col-12 pb-4"
        >
          <ng-template pTemplate="event" let-event let-options="options" class="">
            <a routerLink="/dashboard/eventos" style="text-decoration: none" class="text-400">
              <app-event-card
                [communityColor]="event.community.color"
                [event]="event"
              />
            </a>
          </ng-template>
        </p-scroller>
      </div>
    </div>
  </div>
</div>
