<div class="grid">
    <!-- <div class="col-6 flex justify-content-center alignt-items-center mt-4">
        <span class="p-input-icon-left w-full ">
            <i class="pi pi-search"></i>
            <input type="text" class="w-full border" pInputText [(ngModel)]="searchValue" (keyup.enter)="onKey()" />
        </span>
    </div> -->
    <div class="col-12 flex  align-items-end flex-column justify-content-center ">
        <div class="flex justify-content-center align-items-center gap-2" >
            <h5 class="text-600">
                {{user?.name}}
                {{user?.lastname}} 
            </h5>
            <p-chip styleClass="w-full" [label]="user.role"></p-chip>
        </div>
    </div>

    <div class="col-12 flex justify-content-end mt-4">
        <p-splitButton label="Crear nuevo" icon="pi pi-plus" [model]="this.items" styleClass="p-button-rounded" />
    </div>

</div>



<!-- create new community dialog -->
<div>
    <p-dialog header="Crear nueva comunidad" [modal]="true" [(visible)]="visible" [style]="{ width: '50vw' }" >

        <div class="flex justify-content-between gap-4">
            <div class="flex flex-column gap-2" style="width: 50%">
                <label htmlFor="nombre">Nombre</label>
                <input pInputText id="nombre" aria-describedby="nombre-help" [(ngModel)]="nameValue" />
            </div>

            <div class="flex flex-column gap-2" style="width: 50%">
                <label htmlFor="descripcion">Descripción</label>
                <input pInputText id="descripcion" aria-describedby="descripcion-help" [(ngModel)]="descriptionValue" />
            </div>
        </div>

        <div class="flex flex-column gap-2">
            <label htmlFor="color">Color</label>
            <input type="color" [(ngModel)]="color">
        </div>

        <ng-template pTemplate="footer">
            <p-button label="Cancelar" styleClass="p-button-secondary p-button-text"
                (onClick)="toggleDialog()"></p-button>
            <p-button label="Guardar" (click)="saveCommunity()"></p-button>
        </ng-template>

    </p-dialog>
    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
</div>

<!-- create event dialog -->
<app-create-event />

<div class="col-12">
    <app-events-stats [asLink]="true" [activeEvents]="activeEventsCount" [inactiveEvents]="inactiveEventsCount"  />
    <app-communities-carousel />
    <div>
        <div class="w-8">
            <h2 class="mt-4 text-500 ">Proximos eventos</h2>
            <!-- <div class="col-12" *ngFor="let event of events" >
                <app-event-card [communityColor]="event.community.color" [event]="event" />
            </div> -->

            <p-scroller [items]="eventsAtDate" [itemSize]="70" scrollHeight="400px"  styleClass="col-12" >
                <ng-template pTemplate="event" let-event let-options="options" >
                    <a routerLink="/dashboard/eventos" style="text-decoration: none;">
                        <app-event-card [communityColor]="event.community.color" [event]="event" />
                    </a>
                </ng-template>
            </p-scroller>
        </div>
    </div>
</div>