.cards-grid {
    width: 100%;
  
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  .header {
    width: 100%;
    display: flex;
    gap: 16px;
  
    .grow1 {
      flex-grow: 1;
    }
  }
  