<div class="">
    <div class="mb-5">
        <span class="text-3xl font-bold text-600">Bienvenido de nuevo</span>
    </div>

    <div class="w-full">
        <form class="flex gap-7 flex-column">
            <div class="flex flex-column gap-2">
                <label htmlFor="email">Correo electrónico</label>
                <input styleClass="w-full" pInputText id="email" aria-describedby="username-help" />
               
            </div>
            <div class="flex flex-column gap-2">
                <label htmlFor="password">Contraseña</label>
                <input styleClass="w-full" pInputText id="email" type="password" aria-describedby="username-help" />
            </div>
            <button pButton pRipple label="Iniciar Sesión"></button>
        </form>
    </div>
</div>
