<div *ngIf="!events">
  <app-loader />
</div>

<div *ngIf="events">
  <h3 class="text-500 mt-5">Eventos</h3>

  <div class="col-12 mt-5">
    <app-events-stats
      [asLink]="false"
      *ngIf="activeEventsCount && inactiveEventsCount"
      [activeEvents]="activeEventsCount"
      [inactiveEvents]="inactiveEventsCount"
    />
  </div>

  <div class="mt-7" [style]="{ 'background-color': 'transparent' }">
    <p-table
      #dt1
      [value]="events"
      dataKey="id"
      [rows]="3"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[3, 10, 20]"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
      [globalFilterFields]="['title', 'community.name', 'place']"
      styleClass=""
    >
        <ng-template pTemplate="caption"  [ngStyle]="{ 'background-color': 'white', 'border': 'none' }">
          <div class="flex border-none">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                [placeholder]="'titulo, comunidad, lugar'"
                [(ngModel)]="filter"
                (input)="dt1.filterGlobal(filter, 'contains')"
              />
            </span>
          </div>
        </ng-template>



      <ng-template pTemplate="header" class="border-none">
        <tr class="border-none ">
          <th style="min-width: 15rem" class="bg-white border-none">
            <div class="flex align-items-center">
              Titulo
              <p-columnFilter
                type="text"
                field="title"
                placeholder="Busca un titulo"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </th>

          <th style="min-width: 15rem" class="bg-white border-none">
            <div class="flex align-items-center">
              Categoría
              <p-columnFilter
                field="eventCategory.name"
                matchMode="equals"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-dropdown
                    optionLabel="name"
                    optionValue="name"
                    [ngModel]="filterEventCategory"
                    [options]="eventCategories"
                    (onChange)="filter($event.value)"
                    placeholder="Busca por categoría"
                  >
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 15rem" class="bg-white border-none">
            <div class="flex align-items-center">
              Formato
            </div>
          </th>

          <th style="min-width: 15rem" class="bg-white border-none">
            <div class="flex align-items-center">Creditos</div>
          </th>

          <th style="min-width: 15rem" class="bg-white border-none">
            <div class="flex align-items-center">
              Estado
              <p-columnFilter
                field="status"
                matchMode="equals"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-dropdown
                    optionLabel="name"
                    optionValue="value"
                    [ngModel]="filterEventState"
                    [options]="filterStateOption"
                    (onChange)="filter($event.value)"
                    placeholder="Busca por estado"
                  >
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 10rem" class="bg-white border-none">
            <div class="flex align-items-center">Acciones</div>
          </th>
        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-event>
        <tr class="">
          <td
            class="text-500 cursor-pointer border-none"
            [routerLink]="['/dashboard/eventos', event.id]"
          >
            {{ event.title }}
          </td>

          <td class="text-500 border-none">
            {{ event.eventCategory.name }}
          </td>

          <td class="text-500 border-none">
            {{ event.eventFormat.name }}
          </td>
        

          <td class="border-none">
            <div class="custom-td w-fit border-round-lg px-2">
              <span class="text-primary">{{ event.credits }} creditos</span>
            </div>
          </td>
          <td class="border-none">
            <p-tag
              [severity]="event.status === 'Activo' ? 'success' : 'danger'"
              [value]="event.status"
            >
            </p-tag>
          </td>
          <td class="flex gap-2 border-none">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-primary p-mr-3 p-button-sm"
              (click)="updateEvent(event)"
            ></button>
            <!-- <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" (click)="deleteEvent(event)"></button> -->
          </td>
        </tr>
      </ng-template>


      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7 text-500">No se encontraron eventos</td>
        </tr>
      </ng-template>
    </p-table>
    <app-update-event />
    <app-create-event />
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      class="p-button-rounded p-button-primary md:p-5 sm:p-1 p-button-lg absolute bottom-0 right-0 mr-5 mb-5 shadow-8"
      (click)="createEvent()"
    ></button>
  </div>
</div>
