
<h3 class="text-500 mt-5" >Eventos</h3>

<div class="mt-7" >
    <p-table
    #dt1
    [value]="events"
    dataKey="id"
    [rows]="3"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[3,10,20]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['title', 'community.name', 'place']"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [placeholder]="'titulo, comunidad, lugar'" [(ngModel)]="filter" (input)="dt1.filterGlobal(filter, 'contains')" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:15rem">
                <div class="flex align-items-center">
                    Titulo
                    <p-columnFilter type="text" field="title" display="menu" matchMode="contains"  [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                </div>
            </th>
            <th style="min-width:15rem">
                <div class="flex align-items-center">
                    Descripcion
                </div>
            </th>

            <th style="min-width:15rem">
                <div class="flex align-items-center">
                    Estado
                        <p-columnFilter field="status" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown optionLabel="name" optionValue="value" [ngModel]="filterEventState" [options]="filterStateOption" (onChange)="filter($event.value)" placeholder="Any">
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Privado
                    <p-columnFilter field="isPrivate" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown optionLabel="name" optionValue="value" [ngModel]="filterEventIsPrivate" [options]="filterIsPrivateOption" (onChange)="filter($event.value)" placeholder="Any">
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Lugar
                    <p-columnFilter field="place" matchMode="contains" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                    </p-columnFilter>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Fecha/Hora
                    <!-- <p-columnFilter field="dateTime" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" placeholder="YYYY-MM-DD">
                    </p-columnFilter> -->
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Comunidad
                    <p-columnFilter field="community.name" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown optionLabel="name" optionValue="name" [ngModel]="filterEventCommunity" [options]="communities" (onChange)="filter($event.value)" placeholder="Any">
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Acciones
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
        <tr>
            <td>
                {{ event.title }}
            </td>
        
            <td>
                {{ event.description }}
            </td>
            <td>
                {{ event.status }}
            </td>
            <td>
                {{ event.isPrivate  }}
            </td>
            <td>
                {{ event.place }}
            </td>
            <td>
                {{ event.dateTime }}
            </td>
            <td>
                {{ event.community.name || 'No tiene comunidad' }}
            </td>
            <td class="flex gap-2">
                <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-3 p-button-sm"  (click)="updateEvent(event)"></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" (click)="deleteEvent(event)"></button>
            </td>
        </tr>
        
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
<app-create-event     />
<app-update-event     />
<button pButton type="button" icon="pi pi-plus" class="p-button-rounded  p-button-primary md:p-5 sm:p-1  p-button-lg absolute bottom-0 right-0 mr-5 mb-5"  (click)="createEvent()"></button>
</div>
